

.sidebar {
  float: left;
  top: 0px;
  left: 0px;
  width: 200px;
}

.main {
  height: 100%;
  width: auto;
  background-color: white;
  padding-left: 250px;
}

.intro {
  background-color: #F9F9F9;
  height: 150px;
}

.features {


}
.green {
  background-color: #cef2e0;
  min-height: 500px;
}

.blue {
  background-color: #cedff2;
  min-height: 500px;
}

#wikipedia-logo {
  width: 10em;
  height: auto;
  padding: 10px;
}

#archive, #recently, #archive-2, #current-date {
  text-align: right;
}

#manuscript {
  width: 300px;
  height: 418px;
  float: left;
}
